<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATHDSGO-7DQmSRtvY2-fKCk38sebGr7EI</string>
	<key>GCM_SENDER_ID</key>
	<string>557908951568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MoodDiaryApp</string>
	<key>PROJECT_ID</key>
	<string>mooddiaryapp-ios-f2a16</string>
	<key>STORAGE_BUCKET</key>
	<string>mooddiaryapp-ios-f2a16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557908951568:ios:f16b660d89f07dc4490095</string>
</dict>
</plist>